* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.header, .search__section, .activity__section, .footer {
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 63px;
}

.header__logo {
    width: 61px;
    height: 19px;
    margin-top: 21px;
}

.header__nav__links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: 500;
    font-size: 16px;
}

.header__nav__list-item {
    width: 50%;
}

.header__nav__link {
    display: block;
    padding: 44px 30px 23px 30px;
}

.header__nav__link:hover {
    color: #0065FC;
    box-shadow: inset 0px 2px 0px 0px #0065FC;
}


.search__title {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.search__subtitle {
    margin-bottom: 20px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.search__form {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.icon {
    height: 50px;
}

.icon--black {
    padding: 17px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

.search__form__input {
    width: 234px;
    height: 50px;
    padding: 17px;
    border: 1px solid #F2F2F2;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.search__form__input::placeholder {
    opacity: 1;
}

.search__icon {
    display: none;
}

.btn {
    height: 50px;
    cursor: pointer;
    font-weight: 700;
}

.search__form__btn {
    padding: 15px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    line-height: 21px;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.filters__title {
    font-weight: 700;
    font-size: 18px;
    margin-right: 40px;
}

.filters__buttons {
    display: flex;
    gap: 36px;
}

.filters__btn {
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding-right: 20px;
    font-size: 17px;
    line-height: 20px;
    background-color: white;
}

.filters__btn:hover{
    background-color: #DEEBFF;
}


.icon--blue {
    font-size: 22px;
    margin-right: 10px;
    color: #0065FC;
    padding: 14px 0px 14px 20px;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.info__icon {
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 11px;
    margin-right: 11px;
    padding: 6px 10px 7px 10px;
}

.info__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.lodging__section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 0px 20px 60px 20px;
    height: 626px;
}

.lodging__left-container {
    border-radius: 20px;
    background-color: #F2F2F2;
    height: 626px;
    width: 880px;
    border-radius: 20px;
    padding: 42px 40px 0px 40px;
}

.lodging__title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 24px;
}

.lodging__cards-container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 428px;
}

.card{
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card__photo{
    object-fit: cover;
}

.card__text {
    display: flex;
    flex-direction: column;
}

.card__title {
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 4px;
}

.card__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

.euro--bold {
    font-weight: 700;
}

.card__rating {
    display: flex;
    margin-top: 5px;
}

.fa-star {
    font-size: 12px;
}

.star--blue {
    color: #0065FC;
}

.star--grey {
    color: #F2F2F2;
}

.lodging__card {
    height: 199px;
    width: 246px;
}

.lodging__card__text {
    padding-left: 15px;
}

.lodging__card__photo {
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    height: 119px;
    width: 246px;
}

.lodging__show-more {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 46px;
}

.popular {
    height: 100%;
    width: 400px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px 35px 0 35px;
}

.popular__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.popular__icon--blue {
    color: #0065FC;
    margin-bottom: 24px;
}

.popular__cards-container {
    height: 498px;
}

.popular__card__link {
    display: flex;
    margin-bottom: 33px;
    width: 338px;
    height: 139px;
}

.popular__card__photo {
    height: 139px;
    width: 137px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.popular__card__text {
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    height: 110px;
    width: 160px;
}

.card__title--small {
    width: 169px;
}

.popular__card__price {
    margin-bottom: 35px;
}

.activity__section {
    margin-bottom: 60px;
}

.activity__cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 18px;
}

.activity__card {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 302px;
    height: 444px;
}

.activity__card__photo {
    border-radius: 20px 20px 0px 0px;
    height: 389px;
    width: 302px;
    object-fit: cover;
}

.activity__card:nth-child(3) .activity__photo {
    filter:brightness(1.1) saturate(1.1);
}

.activity__card__text {
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 19px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    height: 225px;
    padding-top: 45px;
    padding-left: 70px;
}

.footer__title {
    font-weight: 700;
    font-size: 18px;
}

.footer__list {
    margin-top: 20px;
    margin-right: 230px;
}

.footer__link {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (max-width: 1324px) {

    .lodging__section {
        flex-direction: column;
        height: auto;
    }

    .lodging__left-container {
        width: 100%;
        height: 850px;
        margin-bottom: 53px;
    }

    .lodging__cards-container {
        height: auto;
        margin-bottom: 20px;
    }

    .lodging__card {
        width: 48%;
        min-width: 246px;
        min-height: 200px;
        margin-bottom: 20px;
    }

    .lodging__card__photo {
        width: 100%;
        height: 60%;
    }

    .popular {
        width: 100%;
        height: 278px;
    }

    .popular__cards-container {
        display: flex;
        justify-content: space-between;
        height: 139px;
        width: auto;
    }

    .popular__card__link {
        height: 144px;
        width: auto;
        min-width: 274px;
    }

    .popular__card__photo {
        width: 101px;
    }

    .popular__card__text {
        width: 120px;
    }

    .popular__card__title {
        font-size: 14px;
        width: 104px;
    }

    .popular__card__title--size {
        width: 111px;
    }

    .popular__card__price {
        font-size: 13px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 1290px) {

    .header__nav__links {
        gap: 7px;
    }


    .filters__title {
        margin-right: 17px;
    }

    .search__form__input {
        width: 267px;
    }
    
    .filters__buttons {
        gap: 22px;
    }

    .filters__btn {
        padding-right: 17px;
    }

    .activity__section {
        margin-bottom: 70px;
    }

    .activity__title {
        margin-bottom: 28px;
    }

    .activity__card {
        width: 250px;
        height: 410px;
    }

    .activity__card__photo {
        width: 250px;
        height: 350px;
    }
    
    .footer__list {
        margin-right: 75px;
        width: 200px;
    }
}

@media screen and (max-width: 1155px ) {

    .activity__card {
        width: 200px;
        height: 350px;
    }

    .activity__card__photo {
        width: 200px;
        height: 290px;
    }

    .activity__card__text {
        margin-top: 10px;
    }

}

@media screen and (max-width: 1040px) {

    .popular__card__link {
        min-width: 250px;
        width: 252px;
        height: 144px;
    }

    .popular__card__photo {
        width: 101px;
    }

    .popular__card__title {
        font-size: 14px;
        width: 104px;
    }

    .card__title--small {
        width: 111px;
    }

    .popular__card__price {
        font-size: 13px;
        margin-bottom: 12px;
    }

}


@media screen and (max-width: 991px) {

    .filters__buttons {
        gap: 10px;
    }

    .lodging__section {
        height: 960px;
    }

    .lodging__left-container {
        margin-bottom: 53px;
        height: 626px;
    }

    .lodging__card {
        width: 246px;
    }

    .lodging__card__photo {
        width: 246px;
    }

    .activity__title {
        margin-bottom: 28px;
    }

    .card__title--small {
        width: auto;
    }

    .activity__card {
        width: 182px;
        height: 267px;
    }

    .activity__card__photo {
        width: 182px;
        height: 211px;
    }

    .activity__card:nth-child(3) .activity__card__text {
        margin-top: 9px;
    }

    .activity__card:nth-child(4) .activity__card__text {
        margin-top: 9px;
        width: 127px;
    }
    
    .footer__list {
        margin-right: 75px;
        width: 200px;
    }

}

@media screen and (max-width:973px) {

    .lodging__section {
        height: auto;
        margin-bottom: 105px;
    }

     .lodging__left-container {
        width: 100%;
        height: 850px;
    }

    .lodging__card {
        width: 48%;
        min-width: 246px;
        min-height: 200px;

    }

    .lodging__card__photo {
        width: 100%;
        height: 60%;
    }

    .card {
        height: 139px;
    }

    .popular {
        height: 630px;
    }

    .popular__card__link {
        width: 100%;
    }

    .popular__card__photo {
        width: 40%;
    }

    .popular__card__text {
        display: block;
        width: 60%;
    }

    .popular__card__title--size {
        width: 169px;
    }

    .popular__card__price {
        margin-bottom: 40px;
    }

    .popular__cards-container {
        flex-direction: column;
        gap: 30px;
    }

    .activity__cards-container {
        display: block;
    }

    .activity__card {
        margin-bottom: 24px;
        height: 190px;
        width: auto;
    }

    .activity__card__photo {
        height: 134px;
        width: 100%;
    }

    .activity__card:nth-child(4) .activity__card__text {
        width: auto;
    }

}

@media screen and (max-width:948px) {

    .filters__btn {
        font-size: 15px;
    }
}

@media screen and (max-width:922px) {

    .footer {
        flex-direction: column;
        height: 500px;
    }

    .footer__list {
        margin-bottom: 40px;
    }

}

@media screen and (max-width:900px) {

    .filters__btn {
        font-size: 13px;
    }
}

@media screen and (max-width:767px) {

    .header {
        align-items: initial;
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }

    .header__logo {
        align-self: center;
        
    }

    .header__nav__links {
        text-align: center;
        justify-content: center;
        box-shadow: 0px 3px 0px 0px #F2F2F2;
    }

    .header__nav__link:hover {
        box-shadow: 0px 2px 0px 0px #0065FC;
        padding-bottom: 23px;
    }

    .search__icon {
        display: block;
    }

    .search__btn__text {
        display: none;
    }

    .filters {
        display: block;
    }
    

    .filters__title {
        margin-bottom: 15px;
    }

    .filters__buttons {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 17px;
    }

    .filters__btn {
        font-size: 16px;
        margin-bottom: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
        width: 45%;
    }

    .lodging__section {
        flex-direction: column-reverse;
        margin-left: 0px;
        margin-right: 0px;
    }

    .lodging__title {
        margin-left: 20px;
        margin-right: 20px;
    }

    .lodging__left-container {
        background-color: #FFFFFF;
        height: 1400px;
        padding: 0px;
        margin-bottom: -10px;
    }

    .lodging__cards-container {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }

    .lodging__card {
        margin-bottom: 12px;
        width: auto;
    }

    .lodging__card__photo {
        width: 100%;
        height: 119px;
    }

    .lodging__show-more {
        display: none;
    }

    .popular {
        border-radius: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .lodging__popular__title {
        margin-left: -1px;
    }

    .footer {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 40px;
    }

}

@media screen and (max-width:527px) {

.search__form__input {
    width: 100%;
}

.filters__btn {
    font-size: 11px;
}

}