* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 44px 0px 63px 0px;
}

.header__logo {
    width: 61px;
    height: 19px;
}

.header__nav__links {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    justify-content: space-between;
    gap: 20px;
}

.header__nav__link {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 44px;
}

.header__nav__link:hover {
    color: #0065FC;
    box-shadow: inset 0px 2px 0px 0px #0065FC;
}


.search__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;
}

.search__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    margin-bottom: 20px;
}

.search__form {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.icon {
    height: 50px;
}

.icon--black {
    padding: 17px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

.search__form__input {
    padding: 17px;
    border: 1px solid #F2F2F2;
    outline: none;
    width: 234px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.search__form__input::placeholder {
    opacity: 1;
}

.btn {
    cursor: pointer;
    height: 50px;
    font-weight: 700;
}

.search__form__btn {
    padding: 15px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    line-height: 21px;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.filters__title {
    font-weight: 700;
    font-size: 18px;
    margin-right: 40px;
}

.filters__buttons {
    display: flex;
    gap: 36px;
}

.filters__btn {
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding-right: 20px;
    font-size: 17px;
    line-height: 20px;
    background-color: white;
}

.filters__btn:hover{
    background-color: #DEEBFF;
}


.icon--blue {
    font-size: 22px;
    margin-right: 10px;
    color: #0065FC;
    padding: 14px 0px 14px 20px;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.info__icon {
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: 11px;
    margin-right: 11px;
    padding: 6px 10px 7px 10px;
}

.info__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.lodging__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    height: 626px;
}

.lodging__left-container {
    border-radius: 20px;
    background-color: #F2F2F2;
    height: 626px;
    width: 880px;
    border-radius: 20px;
    padding: 42px 40px 0px 40px;
}

.lodging__title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 24px;
}

.lodging__cards-container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 428px;
}

.card{
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card__photo{
    object-fit: cover;
}

.card__text {
    display: flex;
    flex-direction: column;
}

.card__title {
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 4px;
}

.card__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}

.euro--bold {
    font-weight: 700;
}

.card__rating {
    display: flex;
    margin-top: 5px;
}

.fa-star {
    font-size: 12px;
}

.star--blue {
    color: #0065FC;
}

.star--grey {
    color: #F2F2F2;
}

.lodging__card {
    height: 199px;
    width: 246px;
}

.lodging__card__text {
    padding-left: 15px;
}

.lodging__card__photo {
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    height: 119px;
    width: 246px;
}

.lodging__show-more {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 46px;
}

.popular {
    height: 100%;
    width: 400px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px 35px 0 35px;
}

.popular__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.popular__icon--blue {
    color: #0065FC;
    margin-bottom: 24px;
}

.popular__cards-container {
    height: 498px;
}

.popular__card__link {
    display: flex;
    margin-bottom: 33px;
    width: 338px;
    height: 139px;
}

.popular__card__photo {
    height: 139px;
    width: 137px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.popular__card__text {
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    height: 110px;
    width: 160px;
}

.popular__card__price {
    margin-bottom: 35px;
}

.activity__section {
    margin-bottom: 60px;
}

.activity__cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.activity__card {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 302px;
    height: 444px;
}

.activity__card__photo {
    border-radius: 20px 20px 0px 0px;
    height: 389px;
    width: 302px;
    object-fit: cover;
}

.activity__card:nth-child(3) .activity__photo {
    filter:brightness(1.1) saturate(1.1);
}

.activity__card__text {
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 19px;
}

.footer {
    display: flex;
    background-color: #F2F2F2;
    height: 225px;
    padding-top: 45px;
    padding-left: 70px;
}

.footer__title {
    font-weight: 700;
    font-size: 18px;
}

.footer__list {
    margin-top: 20px;
    margin-right: 230px;
}

.footer__link {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}